.stores{

    .storesInfo{
        text-align: center;
        font-size: 25px;
        padding: 20px;
        h1{
            font-weight: 300;
        }
    }
    
    .wrapper{
        display: flex;    
        align-items: center;
        justify-content: center;


    .storesContainer{
        // width: 50%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px 5px;
 
        justify-content: center;
        align-content: center;  
        margin-bottom: 30px;

        @media screen and (max-width : 1200px){
            grid-template-columns: repeat(3, 1fr);

            
        }
        @media screen and (max-width : 800px){
            grid-template-columns: repeat(2, 1fr);
            
        }
        @media screen and (max-width : 500px){
            grid-template-columns: repeat(1, 1fr);
            
        }

    }


}
}